<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="profile">
  <ion-list>
    <ion-list-header>
     *Please fill in the Important Information.
     <br><br>
     *Tap on the information to edit details.
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Name
          </ion-col>
          <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.firstName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
 <ion-item (click)="updatefatherName()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Father's name
          </ion-col>
          <ion-col *ngIf="userProfile?.fatherName">
            {{userProfile?.fatherName}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.fatherName">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label class="dob-label">Date of Birth</ion-label>
      <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY"
        [(ngModel)]="birthDate" (ionChange)="updateDOB(birthDate)"></ion-datetime>
    </ion-item>
    <ion-item>
<ion-label>Cropping Calender</ion-label>
    </ion-item>
<ion-item>

	<ion-label>Karif Season :</ion-label>
	<ion-select [(ngModel)]="cropCal1" multiple="true">
    <ion-option>Rice</ion-option>
    <ion-option>maize</ion-option>
    <ion-option>arhar</ion-option>
     <ion-option>soyabean</ion-option>
      <ion-option>groundnut</ion-option>
     <ion-option>cotton</ion-option>
  </ion-select>
  </ion-item>
  <ion-item>
  <ion-label>Rabi Season :</ion-label>
	<ion-select [(ngModel)]="cropCal2" multiple="true">
    <ion-option>Wheat</ion-option>
    <ion-option>barley</ion-option>
    <ion-option>oats</ion-option>
    <ion-option>linseed</ion-option>
    <ion-option>mustard</ion-option>
  </ion-select>
</ion-item>
    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Email
          </ion-col>
          <ion-col width-50 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!userProfile?.email">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            Password
          </ion-col>
          <ion-col class="placeholder-profile">
            <span>
              Tap here to edit.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

